@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  @apply text-black
}

@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }
}
